/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
GENERAL
HEADER
BANNIERE
ABOUT
OVERLAY
PRODUCTS
MAIN
FOOTER
---------
PAGE CONNEXION
ACOUNT
PORTFEUILLE
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */

/* °°°°°°°°°°°°°°°°°° GENERAL °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° 
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #e9e6dc;
    color: #422f2d;
}

ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

/* ****************************************************
HEADER
**************************************************** */
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background: dimgrey;
}

nav {

}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}


/* ****************************************************
MAIN
**************************************************** */

.lastUpdate {

}

.top3 {

}

.library {
  
}
/* ****************************************************
FOOTER
**************************************************** */